.body a {
	color: rgb(0,0,0);
	text-decoration: none;
}
.body a:hover {
	text-decoration: underline;
}
.navtop {
	float: right;
	color: rgb(0, 0, 0);
	display: inline-block;
	font-family: arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	opacity: .75;
	text-align: right;
	text-decoration: none;
	user-select: none;
	padding: 0 30px;
	align-items: center;
	height: 30px;
	position: relative;
}
.toplinks {
	padding-right: 15px;
}
.center {
	display: block;
	margin: auto;
	text-align: -webkit-center;
	padding-top: 100px;
}
img {
	padding-bottom: 20px;
}
#searchbar {
	width: 525px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	font-family: arial, sans-serif;
	font-size: 16px;
	height: 20px;


}
#searchbut {

}
.formbut {
	padding: 0 16px;
	margin: 11px 4px;
	height: 36px;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: rgb(117, 117, 117);
	display: inline-block;
	text-align: center;
	background-color: rgb(242, 242, 242);
	border: none;
	-webkit-appearance: none;
}
